NODE_ENV=development
LOG_LEVEL=debug

API_PORT=3000
WEB_PORT=3001
WORKER_PORT=3002
PROVIDER_SIMULATOR_PORT=3003

DATABASE_URL=sqlserver://sa:YourStrong!Passw0rd@localhost:1433;database=paymentops;encrypt=false;trustServerCertificate=true
MSSQL_SA_PASSWORD=YourStrong!Passw0rd

REDIS_URL=redis://localhost:6379
REDPANDA_BROKERS=localhost:9092

AUTH0_DOMAIN=paymentops-dev.us.auth0.com
AUTH0_AUDIENCE=https://api.paymentops.local

OTEL_SERVICE_NAME=paymentops
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318

PROVIDER_SIMULATOR_URL=http://localhost:3003
